.contenedor {
  border: 5px solid red;
  background-color: blue;
  display: grid;
  grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 25px);
  grid-template-rows: repeat(3, auto);
}

.item {
  border: 5px solid #00bcd4;
  background-color: red;
  font-size: 4rem;
}